{% extends "rango/base.html" %}

{% load staticfiles %}

{% block title %}
	Home
{% endblock title %}

{% block body_block %}
	<h2>The most likes category</h2>
	{% if categories %}
	<ul>
		{% for category in categories %}
		<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
		{% endfor %}
	</ul>

	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}

	<h2>The most views page</h2>
	{% if pages %}
	<ul>
		{% for page in pages %}
		<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock body_block %}
		

